{% extends "UnoegohhShopBundle:Default:index.html.twig" %}

{% block main %}
    <section id="main" class="entire_width">
        <div class="container_12">
            <div id="content">
                <div class="grid_12">
                    <h1 class="page_title">Обратная связь</h1>
                </div><!-- .grid_12 -->

                <div class="grid_4 adress">
                    <h3>Наш адрес</h3>
                    <p>{{ pref().address }}</p>
                    <hr>

                    <h3>Телефон</h3>
                    <p>Наш офис: <span>{{ pref().phone }}</span></p>
                    <hr>

                    <h3>Email</h3>
                    <p>{{ pref().email }}</p>
                </div><!-- .adress -->

                <div class="grid_8">
                    <form class="contact" method="POST" action="?">
                        <h2>Ваше сообщение</h2>

                        {{ form_errors(form) }}
                        {{ form_row(form._token) }}
                        <div class="name">
                            <strong>Имя:</strong><sup class="surely">*</sup><br>
                            {{ form_widget(form.fio) }}
                        </div><!-- .name -->

                        <div class="email">
                            <strong>Email: </strong><sup class="surely">*</sup><br>
                            {{ form_widget(form.email) }}
                        </div><!-- .email -->

                        <div class="comment">
                            <strong>Сообщение:</strong><br>
                            {{ form_widget(form.text) }}
                        </div><!-- .comment -->

                        <div class="submit">
                            <div class="field"><sup class="surely">*</sup><span>Обязательные поля</span></div>
                            <input type="submit" value="Отправить">
                        </div><!-- .submit -->
                    </form><!-- .contact -->
                </div><!-- .grid_8 -->
            </div><!-- #content -->

            <div class="clear"></div>
        </div><!-- .container_12 -->
    </section>
{% endblock %}